{:choices {
           :pokemon-jump {:title "Pokémon Trainer"
                          :description "You get 1000 Choice Points. Spend them wisely."
                          :base-values {:cp 1000}
                          :interactions [[:requires [:tag :location]]]
                          :category "Budget"}
           :location-roll {:title "Wheel of Location"
                           :description "Roll 1D8 to determine your starting region. Or pay 100CP to choose it yourself."
                           :base-values {:cp 0}
                           :interactions [[:roll :wheel-of-location]]}
           :location-kanto {:title "Kanto"
                            :description "Kanto is a region of relative safety and stability. Many trainers begin their journeys here. Though it lacks a wide variety of wild pokémon, the people are likable and crime is at an all time low. It is located directly to the east of Johto."
                            :base-values {:cp -100}
                            :tags [:location
                                   :wheel-of-location]
                            :interactions [[:free [:choice :location-free-pick]]
                                           [:rollable [1] :cp]]
                            :category "Location"}
           :location-johto {:title "Johto"
                            :description "Johto is located to the west of Kanto. The two regions are linked via a railway and a cave system. Johto has a wider variety of pokémon than Kanto, and its central location makes it a good starting point for any up and coming trainer. That would be you."
                            :base-values {:cp -100}
                            :tags [:location
                                   :wheel-of-location]
                            :interactions [[:free [:choice :location-free-pick]
                                            [:rollable [2] :cp]]]
                            :category "Location"}
           :location-johto {:title "Hoenn"
                            :description "Hoenn is a ways to the southeast of both Kanto and Johto. It supports a tropical climate, and the terrain is home to a different range of pokémon. Lots of travel is water based, so you might want to get a boat or a pokémon with surf. The locals have odd musical tastes."
                            :base-values {:cp -100}
                            :tags [:location
                                   :wheel-of-location]
                            :interactions [[:free [:choice :location-free-pick]
                                            [:rollable [3] :cp]]]
                            :category "Location"}
           :location-Sinnoh {:title "Sinnoh"
                             :description "Sinnoh is on an island at the northern tip of the same continent as Kanto, Johto, and Hoenn. The pokémon are numerous and varied, and the region is divided longitudinally by the Coronet mountain range. The climate is colder, so you might want to get a coat and boots."
                             :base-values {:cp -100}
                             :tags [:location
                                    :wheel-of-location]
                             :interactions [[:free [:choice :location-free-pick]
                                             [:rollable [4] :cp]]]
                             :category "Location"}
           :location-unova {:title "Unova"
                            :description "Unova is on an entirely different continent than the previous four. The wildlife distribution is such that indigenous pokémon are common while pokémon from other regions are rare. Unova is fairly urbanized, with Castelia city serving as a hub of trade, food, people, and culture."
                            :base-values {:cp -100}
                            :tags [:location
                                   :wheel-of-location]
                            :interactions [[:free [:choice :location-free-pick]
                                            [:rollable [5] :cp]]]
                            :category "Location"}
           :location-kalos {:title "Kalos"
                            :description "Kalos is again on a third continent, also very far away from all the others. Kalos sports a wide variety of geography and pokémon, both indigenous and shared with other regions. Kalos has a history that stretches back millennia, and is known as a place of culture, the arts, and snobby connoisseurs."
                            :base-values {:cp -100}
                            :tags [:location
                                   :wheel-of-location]
                            :interactions [[:free [:choice :location-free-pick]
                                            [:rollable [6] :cp]]]
                            :category "Location"}
           :location-orre {:title "Orre"
                           :description "Orre is a region that is almost entirely desert. Resources and wild pokémon are both scarce and crime is rampant, but the few bastions of civilization in the region house some of the world's best scientists. The region lacks predefined routes of travel, so get a means of transport and keep your pokénav on."
                           :base-values {:cp -100}
                           :tags [:location
                                  :wheel-of-location]
                           :interactions [[:free [:choice :location-free-pick]
                                           [:rollable [7] :cp]]]
                           :category "Location"}
           :location-free-pick {:title "Free Pick"
                                :description "Free pick from any of the other seven regions without having to pay. I guess lady luck wanted you to choose your own destiny."
                                :base-values {:cp -100}
                                :tags [:wheel-of-location]
                                :interactions [[:rollable [8] :cp]]
                                :category "Location"}
           :roll-age {:title "Roll Your Age"
                      :description "Roll 1D8+9 for your age."
                      :base-values {:cp 0}
                      :tags [:age-wheel
                             :identity]
                      :interactions [[:roll [:choice :age] "1d8+9"]]
                      :category "Identity"}
           :pick-age {:title "Pick Your Age"
                      :description "Pick any age from 10-17."
                      :base-values {:cp -100}
                      :tags [:age-wheel
                             :identity]
                      :interactions [[:set {:target :age
                                            :data [(range 10 18)]}]]
                      :category "Identity"}
           :age {:title "Age"
                 :description "Your age"
                 :base-values {:cp 0}
                 :tags [:identity]
                 :interactions [:write-in :general/age]}
           :drop-in {:title "Drop-In"
                     :description "+ No memory set altering your actions. No history in the world of Pokémon\n- No history means some things can be difficult. You aren't getting and new skills for free\nYou wake up on the road just outside the first town in your region. You have no family, no friends, no history. All you have are the clothes you wear, the gear you purchased, and whatever skills or abilities you may have. Looking in your bag, you see a trainer card that will serve as identification in the event that you would need it. You notice a bunch of bird Pokémon harassing something down the road. After shooing them off, you see that their target was a wild Pokémon. As thanks for rescuing it, the Pokémon seems to want to tag along with you."
                     :base-values {:cp 0}
                     :tags [:background
                            :identity]
                     :category "Identity"}
           :hermit {:title "Hermit"
                    :description "+ You learn a lot about wilderness survival. You tend to be able to approach wild Pokémon better than most people\n- You have little experience in social situations. You don't \"get\" people well and become nervous in cities.\nAs an infant, you were abandoned in the middle of the woods. Luckily, you were discovered by a reclusive old man who took you in. You have come to learn a lot about survival skills, and you get along well with the wild Pokémon who live nearby. However, you rarely go into town for supplies, so your social skills are stunted and you have trouble with cities. Deciding to go explore the world, you bid farewell to your adoptive father and set out on the road. As you leave, a wild Pokémon you have been caring for over the past month follows, intent on joining."
                    :base-values {:cp -50}
                    :tags [:background
                           :identity]
                    :category "Identity"}
           :small-town {:title "Small Town"
                        :description "+ You are physically fit and have a small group of very close friends (one of whom has a crush)\n- You don't have a lot of wilderness experience beside some camping, nor a lot of city experience either\nYou were raised by your mother in the first town of your region. Your father had to work a lot, so you never saw much of him. The air is clean, the neighborhood is safe, and you have a tight circle of friends whom you would trust with anything. You have lived a very balanced life, and you are very healthy and physically fit. You decide to go on a Pokémon journey like many children your age, with your friends joining you along the way. You bring along the Pokémon companion your parents gave you that you grew up with over the past few years."
                        :base-values {:cp -50}
                        :tags [:background
                               :identity]
                        :category "Identity"}
           :city-life {:title "City Life"
                       :description "+ You are very acrobatic and have become adept in parkour\n- You have no experience in wilderness survival\nYou were raised by your mother and father in a modest apartment in one of your region's major cities. Born and raised an urban kid, you have almost no experience living outside the city's confines. However, life in the city brings its own advantages. You have a very powerful sense of navigation and over the course of your life have become an expert freerunner with great acrobatic skills. Like many children, you decide to go on a Pokémon journey, taking along the Pokémon you rescued from a shelter half a year ago."
                       :base-values {:cp -50}
                       :tags [:background
                              :identity]
                       :category "Identity"}
           :moneybags {:title "Moneybags"
                       :description "+ You have a lot of money and some top of the line gear most trainers will never get\n- You have very little real world experience in general; education only goes so far\nYou were born as the only child of a very wealthy family. You were pampered as a child and did not want for much of anything. You received a top tier education from some of the best tutors in the region. However, you have very little practical experience. Wanting a change of pace from your dull, somewhat repetitive life of constant luxury, you decide to go on a Pokémon journey and gain the experience you want on your own, taking along the Pokémon your parents had purchased for your protection when you were just a baby."
                       :base-values {:cp -100}
                       :tags [:background
                              :identity]
                       :category "Identity"}
           :actual-starter {:title "Actual Starter"
                            :description "This applies to any starter Pokémon."}}}
